.img {
    margin-left: 350px;
    margin-bottom: 40px;
}

.elList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
}

.elitem {
    width: 250px;
    text-align: center;
    border: 2px solid yellowgreen;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: yellow;
    transition: all 0.6s ease;
}

.elitem:hover {
    transform: scale(1.1);
    background-color: brown;
}

.button {
    margin-left: 500px;
}

.bg{
    background-color: aqua;
}